<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package Id="FluentValIdation" version="8.6.2" targetFramework="net472" />
  <package Id="Ninject" version="3.3.4" targetFramework="net472" />
  <package Id="PostSharp" version="6.6.6" targetFramework="net472" />
  <package Id="PostSharp.Redist" version="6.6.6" targetFramework="net472" />
  <package Id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
</packages>