<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package Id="EntityFramework" version="6.4.0" targetFramework="net472" />
  <package Id="FluentNHibernate" version="2.1.2" targetFramework="net472" />
  <package Id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package Id="NHibernate" version="5.2.7" targetFramework="net472" />
  <package Id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package Id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
</packages>