@model ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="wIdth=device-wIdth" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var product in Model.Product)
        {
            <p>@product.ProductName</p>
        }
    </div>
</body>
</html>
