<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="Castle.Core" version="4.4.0" targetFramework="net472" />
  <package Id="FluentValIdation" version="8.6.2" targetFramework="net472" />
  <package Id="log4net" version="2.0.8" targetFramework="net472" />
  <package Id="Moq" version="4.13.1" targetFramework="net472" />
  <package Id="MSTest.TestAdapter" version="1.3.2" targetFramework="net472" />
  <package Id="MSTest.TestFramework" version="1.3.2" targetFramework="net472" />
  <package Id="PostSharp" version="6.6.6" targetFramework="net472" />
  <package Id="PostSharp.Redist" version="6.6.6" targetFramework="net472" />
  <package Id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package Id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package Id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
</packages>